{% extends "service/base.html" %}

{% block title %}請求一覧{% endblock title %}

{% block content %}

<h4 class="mt-4 border-bottom">請求一覧</h4>

<form action="{% url 'service:bill_index' %}" method="get" name="select_month">
  <div>
    <label for="prev_month">請求月</label>
    <select name="prev_month">
      {% for month_str, prev_month in month_infos %}
        <option value="{{ prev_month }}">{{ month_str }}</option>
      {% endfor %}
    </select>
    <button>検索</button>
  </div>
</form>


<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">顧客名</th>
      <th scope="col">ジャンル</th>
      <th scope="col">レッスン数</th>
      <th scope="col">請求合計金額</th>
    </tr>
  </thead>
  <tbody>
    {% for customer, customer_activity in customer_infos %}
    <tr>
      <td>{{ customer.id }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer_activity.0 }}</td>
      <td>{{ customer_activity.1 }}レッスン</td>
      <td>{{ customer_activity.2 }}円</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'service:top' %}" class="btn btn-info btn-sm my-3">メニュー一覧</a>

{% load static %}
<script src="{% static "service/js/service.js" %}"></script>

{% endblock content %}

{% block extra_js %}
<script>
  document.select_month.prev_month.value = set_prev_month();
</script>
{% endblock extra_js %}
